In [1]:
import pandas as pd
import numpy as np

In [31]:
mtcar = pd.read_csv('../data/mtcars.csv')
mtcar.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [32]:
print("before", mtcar['qsec'].head())

def minmax(data):
    data = (data - min(data)) / (max(data) - min(data))
    return data



mtcar['qsec'] = minmax(mtcar['qsec'])

print("after", mtcar['qsec'].head())

before 0    16.46
1    17.02
2    18.61
3    19.44
4    17.02
Name: qsec, dtype: float64
after 0    0.233333
1    0.300000
2    0.489286
3    0.588095
4    0.300000
Name: qsec, dtype: float64

In [38]:
sum(mtcar['qsec'] > 0.5)

9

0     1.96
1     2.52
2     4.11
3     4.94
4     2.52
5     5.72
6     1.34
7     5.50
8     8.40
9     3.80
10    4.40
11    2.90
12    3.10
13    3.50
14    3.48
15    3.32
16    2.92
17    4.97
18    4.02
19    5.40
20    5.51
21    2.37
22    2.80
23    0.91
24    2.55
25    4.40
26    2.20
27    2.40
28    0.00
29    1.00
30    0.10
31    4.10
Name: qsec, dtype: float64