In [165]:
import pandas as pd
import numpy as np

In [166]:
basic = pd.read_csv('basic1.csv')
basic = basic.sort_values(by='f5',ascending=False)
basic.head(10)

      id   age city    f1  f2   f3    f4         f5
10  id11  40.0   서울  68.0   0  NaN  ENFP  98.429899
97  id98  39.0   경기  58.0   2  NaN  INFP  98.429899
9   id10  95.0   서울  74.0   1  NaN  ISFP  98.429899
76  id77  77.0   경기  31.0   0  NaN  INFP  98.429899
98  id99   1.0   경기  47.0   0  NaN  ESFJ  97.381034
91  id92  97.0   경기  78.0   1  NaN  INFP  97.381034
86  id87  19.0   경기   NaN   1  NaN  ISFP  97.381034
71  id72   8.0   경기  97.0   0  NaN  ESTJ  97.381034
11  id12  20.0   서울   NaN   0  NaN  ESTP  91.297791
19  id20  11.0   서울  51.0   1  NaN  INTJ  91.297791

In [167]:
min = basic['f5'][:10].min()
min

91.29779092

In [168]:
basic.iloc[:10, -1] = min

In [169]:
basic[basic.loc[:, 'age'] >= 80].iloc[:,-1].mean()

62.49774712521738

In [170]:
# 2)
basic = pd.read_csv('basic1.csv')
some = int(len(basic) * 0.7)
some

70

In [171]:
basic = basic.head(some)
basic.isnull().sum()

id       0
age      0
city     0
f1      23
f2       0
f3      67
f4       0
f5       0
dtype: int64

In [172]:
median = basic['f1'].median()
median

68.0

In [173]:
basic['f1'].std()

17.987275798652757

In [174]:
#before , after

basic.fillna({'f1': median})['f1'].std()

14.690773995256688

In [175]:
diff = basic['f1'].std() - basic.fillna({'f1': median})['f1'].std()
diff

3.296501803396069

In [176]:
# 3)

basic = pd.read_csv('basic1.csv')
mean = basic['age'].mean()
mean

50.963

In [177]:
std = basic['age'].std()
std

30.442758522588697

In [178]:
lower = mean - (1.5 * std)
lower

5.298862216116952

In [179]:
high = mean + (1.5 * std)
high

96.62713778388306

In [180]:
basic[(basic['age'] < lower) | (basic['age'] > high)]['age'].sum()

#and basic['age']  < mean + (1.5 * std)

473.5