In [287]:
import pandas as pd
import numpy as np

In [288]:
X_train = pd.read_csv('./Dataset/X_train.csv', encoding='euc-kr')
y_train = pd.read_csv('./Dataset/y_train.csv', encoding= 'euc-kr')
X_test = pd.read_csv('./Dataset/X_test.csv', encoding='euc-kr')

In [289]:
X_train.shape, y_train.shape, X_test.shape

((3500, 10), (3500, 2), (2482, 10))

In [290]:
X_train.head()

,cust_id,총구매액,최대구매액,환불금액,주구매상품,주구매지점,내점일수,내점당구매건수,주말방문비율,구매주기
0,0,68282840,11264000,6860000.0,기타,강남점,19,3.894737,0.527027,17
1,1,2136000,2136000,300000.0,스포츠,잠실점,2,1.500000,0.000000,1
2,2,3197000,1639000,NaN,남성 캐주얼,관악점,2,2.000000,0.000000,1
3,3,16077620,4935000,NaN,기타,광주점,18,2.444444,0.318182,16
4,4,29050000,24000000,NaN,보석,본 점,2,1.500000,0.000000,85

In [291]:
y_train.head()

   cust_id  gender
0        0       0
1        1       0
2        2       1
3        3       1
4        4       0

In [292]:
X_test.head()

,cust_id,총구매액,최대구매액,환불금액,주구매상품,주구매지점,내점일수,내점당구매건수,주말방문비율,구매주기
0,3500,70900400,22000000,4050000.0,골프,부산본점,13,1.461538,0.789474,26
1,3501,310533100,38558000,48034700.0,농산물,잠실점,90,2.433333,0.369863,3
2,3502,305264140,14825000,30521000.0,가공식품,본 점,101,14.623762,0.083277,3
3,3503,7594080,5225000,NaN,주방용품,부산본점,5,2.000000,0.000000,47
4,3504,1795790,1411200,NaN,수산품,청량리점,3,2.666667,0.125000,8

In [293]:
X_train.isnull().sum()

cust_id       0
총구매액          0
최대구매액         0
환불금액       2295
주구매상품         0
주구매지점         0
내점일수          0
내점당구매건수       0
주말방문비율        0
구매주기          0
dtype: int64

In [294]:
X_test.isnull().sum()

cust_id       0
총구매액          0
최대구매액         0
환불금액       1611
주구매상품         0
주구매지점         0
내점일수          0
내점당구매건수       0
주말방문비율        0
구매주기          0
dtype: int64

In [295]:
X_train.describe()

,cust_id,총구매액,최대구매액,환불금액,내점일수,내점당구매건수,주말방문비율,구매주기
count,3500.000000,3.500000e+03,3.500000e+03,1.205000e+03,3500.000000,3500.000000,3500.000000,3500.000000
mean,1749.500000,9.191925e+07,1.966424e+07,2.407822e+07,19.253714,2.834963,0.307246,20.958286
std,1010.507298,1.635065e+08,3.199235e+07,4.746453e+07,27.174942,1.912368,0.289752,24.748682
min,0.000000,-5.242152e+07,-2.992000e+06,5.600000e+03,1.000000,1.000000,0.000000,0.000000
25%,874.750000,4.747050e+06,2.875000e+06,2.259000e+06,2.000000,1.666667,0.027291,4.000000
50%,1749.500000,2.822270e+07,9.837000e+06,7.392000e+06,8.000000,2.333333,0.256410,13.000000
75%,2624.250000,1.065079e+08,2.296250e+07,2.412000e+07,25.000000,3.375000,0.448980,28.000000
max,3499.000000,2.323180e+09,7.066290e+08,5.637530e+08,285.000000,22.083333,1.000000,166.000000

In [296]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3500 entries, 0 to 3499
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   cust_id  3500 non-null   int64
 1   총구매액     3500 non-null   int64
 2   최대구매액    3500 non-null   int64
 3   환불금액     1205 non-null   float64
 4   주구매상품    3500 non-null   object
 5   주구매지점    3500 non-null   object
 6   내점일수     3500 non-null   int64
 7   내점당구매건수  3500 non-null   float64
 8   주말방문비율   3500 non-null   float64
 9   구매주기     3500 non-null   int64
dtypes: float64(3), int64(5), object(2)
memory usage: 273.6+ KB

In [297]:
# 누락된 데이터 처리, 환불금액 
# 전체 데이터의 비중

print("전체 train 데이터의 결측치", X_train['환불금액'].isna().sum()/  X_train.shape[0] * 100)
print("전체 test 데이터의 결측치", X_test['환불금액'].isna().sum()/  X_test.shape[0] * 100)

전체 train 데이터의 결측치 65.57142857142857
전체 test 데이터의 결측치 64.90733279613215

In [298]:

# values = {'환불금액' : }
X_train.fillna({'환불금액': 0} , inplace=True)

X_test.fillna({'환불금액': 0} , inplace=True)

#X_train['환불금액'] = X_train['환불금액'].fillna(X_train['환불금액'].mean())

In [299]:
np.unique(X_train['환불금액'])

array([0.0000000e+00, 5.6000000e+03, 1.8000000e+04, ..., 3.8152100e+08,
       5.2960232e+08, 5.6375300e+08])

In [300]:
X_train.shape, X_test.shape

((3500, 10), (2482, 10))

In [301]:
X_train = X_train.drop('cust_id', axis = 1)

In [302]:
cust_id = X_test.pop('cust_id')

In [303]:
X_test.head()

,총구매액,최대구매액,환불금액,주구매상품,주구매지점,내점일수,내점당구매건수,주말방문비율,구매주기
0,70900400,22000000,4050000.0,골프,부산본점,13,1.461538,0.789474,26
1,310533100,38558000,48034700.0,농산물,잠실점,90,2.433333,0.369863,3
2,305264140,14825000,30521000.0,가공식품,본 점,101,14.623762,0.083277,3
3,7594080,5225000,0.0,주방용품,부산본점,5,2.000000,0.000000,47
4,1795790,1411200,0.0,수산품,청량리점,3,2.666667,0.125000,8

In [304]:
# 범주형 데이터 처리 주 구매 지점, 주 구매 상품


from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

columns = ['주구매상품','주구매지점']

for c in columns:
    X_train[c] = le.fit_transform(X_train[c])
    X_test[c] = le.fit_transform(X_test[c])
# X_train = pd.get_dummies(X_train, columns=['주구매상품','주구매지점'], dtype=int)
# #X_train
# X_train.drop('cust_id', axis = 1, inplace=True)

In [305]:
X_test.head()

,총구매액,최대구매액,환불금액,주구매상품,주구매지점,내점일수,내점당구매건수,주말방문비율,구매주기
0,70900400,22000000,4050000.0,3,9,13,1.461538,0.789474,26
1,310533100,38558000,48034700.0,9,19,90,2.433333,0.369863,3
2,305264140,14825000,30521000.0,0,8,101,14.623762,0.083277,3
3,7594080,5225000,0.0,31,9,5,2.000000,0.000000,47
4,1795790,1411200,0.0,19,22,3,2.666667,0.125000,8

In [306]:
X_train.shape, X_test.shape

((3500, 9), (2482, 9))

In [307]:
from sklearn.preprocessing import StandardScaler

se = StandardScaler()

x_std_train = se.fit_transform(X_train)
x_std_test = se.fit_transform(X_test)

In [308]:
x_std_train.shape, x_std_test.shape

((3500, 9), (2482, 9))

In [310]:
y_train.head()

   cust_id  gender
0        0       0
1        1       0
2        2       1
3        3       1
4        4       0

In [321]:
y_train

      cust_id  gender
0           0       0
1           1       0
2           2       1
3           3       1
4           4       0
...       ...     ...
3495     3495       1
3496     3496       1
3497     3497       0
3498     3498       0
3499     3499       0

[3500 rows x 2 columns]

In [322]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

lr = LogisticRegression()

rf = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=2022)



rf.fit(x_std_train, y_train['gender'])
rf.score(x_std_train, y_train['gender'])

0.6874285714285714

In [324]:
X_test
#X_test
result = rf.predict_proba(X_test)
result

/Users/chahyeon-yeong/miniconda3/lib/python3.12/site-packages/sklearn/base.py:486: UserWarning: X has feature names, but RandomForestClassifier was fitted without feature names
  warnings.warn(

array([[0.58068695, 0.41931305],
       [0.60276992, 0.39723008],
       [0.61467128, 0.38532872],
       ...,
       [0.57804159, 0.42195841],
       [0.58762754, 0.41237246],
       [0.65487919, 0.34512081]])

In [325]:
file = pd.DataFrame({'cust_id': cust_id, 'gender':result[:,1]})

In [326]:
file.head()

   cust_id    gender
0     3500  0.419313
1     3501  0.397230
2     3502  0.385329
3     3503  0.389718
4     3504  0.356206

In [320]:
file.to_csv('hyeonyeong.cha.csv')