In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../data/high_blood_pressure.csv')
df

       Id     sex  age  bp_pre  bp_post
0    p001    Male   33     149      129
1    p002    Male   39     168      168
2    p003    Male   70     176      155
3    p004  Female   41     169      178
4    p005    Male   48     160      126
..    ...     ...  ...     ...      ...
115  p116    Male   70     173      129
116  p117    Male   75     153      157
117  p118  Female   79     156      143
118  p119  Female   40     182      172
119  p120  Female   41     142      168

[120 rows x 5 columns]

In [3]:
import scipy.stats

for i in dir(scipy.stats):
    if 'ttest' in i:
        print(i)

ttest_1samp
ttest_ind
ttest_ind_from_stats
ttest_rel

In [7]:
mean = (df['bp_post'] - df['bp_pre']).mean()
mean = round(mean, 2)

In [32]:
alpha = 0.05

from  scipy.stats import ttest_rel



statistic, p_value = ttest_rel(df['bp_post'], df['bp_pre'], alternative='less')

print(statistic, p_value)

-3.0002163948827545 0.0016434474228511028

In [33]:
mean = (df['bp_post'] -  df['bp_pre']).mean()
print("평균은 ", round(mean,2))

평균은  -6.12

In [35]:
print(f"검정통계량 : {round(statistic, 4)}, p-value : {round(p_value, 4)}")

검정통계량 : -3.0002, p-value : 0.0016

In [36]:

if p_value < alpha:
    print("Reject Ho! 해당 치료는 효과가 있다.")
else:  
    print("해당 치료는 효과가 없다")

Reject Ho! 해당 치료는 효과가 있다.

In [37]:
df['diff'] = df['bp_post'] - df['bp_pre']

#1
print(round(df['diff'].mean(),2))

#2 
st, pv = ttest_rel(df['bp_post'], df['bp_pre'], alternative="less")
print(round(st,4))

#3
print(round(pv,4))

-6.12
-3.0002
0.0016