In [203]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split;
# RMSE
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor

In [188]:
train_df = pd.read_csv('./Dataset/train.csv')
test_df = pd.read_csv('./Dataset/test.csv')

In [189]:
train_df.isnull().sum()

model           0
year            0
price           0
transmission    0
mileage         0
fuelType        0
tax             0
mpg             0
engineSize      0
dtype: int64

In [190]:
test_df.isnull().sum()

model           0
year            0
transmission    0
mileage         0
fuelType        0
tax             0
mpg             0
engineSize      0
dtype: int64

In [191]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3759 entries, 0 to 3758
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         3759 non-null   object
 1   year          3759 non-null   int64
 2   price         3759 non-null   int64
 3   transmission  3759 non-null   object
 4   mileage       3759 non-null   int64
 5   fuelType      3759 non-null   object
 6   tax           3759 non-null   int64
 7   mpg           3759 non-null   float64
 8   engineSize    3759 non-null   float64
dtypes: float64(2), int64(4), object(3)
memory usage: 264.4+ KB

In [192]:
train_df.describe()

,year,price,mileage,tax,mpg,engineSize
count,3759.000000,3759.000000,3759.000000,3759.000000,3759.000000,3759.000000
mean,2016.887736,12353.321362,23191.786379,114.444001,57.793083,1.352807
std,2.151811,4750.338051,19223.258713,61.713682,10.099221,0.437130
min,2002.000000,1095.000000,5.000000,0.000000,20.900000,0.000000
25%,2016.000000,9000.000000,9997.500000,75.000000,52.300000,1.000000
50%,2017.000000,11495.000000,18180.000000,145.000000,58.900000,1.200000
75%,2018.000000,15310.000000,31000.000000,145.000000,65.700000,1.500000
max,2060.000000,48000.000000,144000.000000,570.000000,201.800000,5.000000

In [193]:
train_df.head()

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,EcoSport,2017,10298,Manual,25013,Petrol,150,53.3,1.0
1,Focus,2016,10491,Manual,30970,Diesel,0,74.3,1.5
2,S-MAX,2017,13498,Manual,60200,Diesel,150,56.5,2.0
3,Fiesta,2018,10600,Manual,27380,Petrol,145,56.5,1.0
4,Fiesta,2018,11000,Manual,7724,Petrol,145,65.7,1.0

In [194]:
# categorical value (model, transmission, fuelType)
train_df['fuelType'] = train_df['fuelType'].astype('category').cat.codes
train_df['model'] = train_df['model'].astype('category').cat.codes
train_df['transmission'] = train_df['transmission'].astype('category').cat.codes

test_df['fuelType'] = test_df['fuelType'].astype('category').cat.codes
test_df['model'] = test_df['model'].astype('category').cat.codes
test_df['transmission'] = test_df['transmission'].astype('category').cat.codes

In [195]:

y_train = train_df.pop('price')
sc = StandardScaler()

train_df = sc.fit_transform(train_df)
test_df = sc.fit_transform(test_df)

In [196]:
train_df

array([[-1.04625813,  0.05217877,  0.0706481 , ...,  0.57622116,
        -0.44495321, -0.8072054 ],
       [-0.2509863 , -0.41260798,  0.0706481 , ..., -1.85468155,
         1.63469164,  0.33677179],
       [ 2.66501043,  0.05217877,  0.0706481 , ...,  0.57622116,
        -0.12805495,  1.48074898],
       ...,
       [ 1.33955737,  0.05217877,  0.0706481 , ...,  0.49519107,
        -0.0092181 , -0.34961452],
       [-0.51607691,  0.51696553,  0.0706481 , ...,  0.57622116,
         0.78302756, -0.8072054 ],
       [ 1.33955737,  0.51696553,  0.0706481 , ...,  0.49519107,
        -0.0092181 , -0.34961452]])

In [197]:
X_train, X_test, y_train, y_test = train_test_split(train_df, y_train, test_size= 0.2, random_state=42);

In [198]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((3007, 8), (752, 8), (3007,), (752,))

In [199]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
np.sqrt(mean_squared_error(y_test, y_pred))

2752.7607810256945

In [200]:
from sklearn.ensemble import RandomForestRegressor


model = RandomForestRegressor(n_estimators=100)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
np.sqrt(mean_squared_error(y_test, y_pred))

1392.3740578558243

In [205]:
model = XGBRegressor()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
np.sqrt(mean_squared_error(y_test, y_pred))

1372.0165429908768

In [207]:
result = model.predict(test_df)
result

array([11730.084, 13742.037, 12984.338, ...,  9187.823, 12870.5  ,
        4627.043], dtype=float32)

In [208]:
pd.DataFrame({'price': result}).reset_index().rename(columns={'index': 'ID'}).to_csv('09-26.csv', index= False)